.catalogueplanete-cover {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(74, 74, 74, 0.4);
  z-index: -9998;
}

.catalogueplanete-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -9999;
}

.catalogueplanete-container {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 50vh;
  width: 100%;
  background: white;
  padding-bottom: 16px;
}

.catalogueplanete-container-title {
  font-family: 'Montserrat SemiBold';
  font-size: 18px;
  color: #4a4a4a;
  margin-top: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.catalogueplanete-container-subtitle {
  font-family: 'Montserrat SemiBold';
  font-size: 16px;
  color: #4a4a4a;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .catalogueplanete-container-title {
    margin-top: 36px;
    font-size: 24px;
  }
  .catalogueplanete-container-subtitle {
    font-size: 21px;
  }
}

.catalogueplanete-container-content {
  margin-top: 8px;
}

.catalogueplanete-container-content-arrow {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 576px) {
  .catalogueplanete-container-content-arrow {
    height: 40vh;
  }
}

.catalogueplanete-container-content-text {
  display: flex;
  height: 30vh;
  align-items: flex-start;
  position: relative;
  text-align: left;
}

@media (min-width: 576px) {
  .catalogueplanete-container-content-text {
    height: 40vh;
  }
}

.catalogueplanete-container-content-text p {
  font-family: "Montserrat Regular";
  color: #4a4a4a;
  font-size: 15px;
  line-height: 22.5px;
}

@media (min-width: 576px) {
  .catalogueplanete-container-content-text p {
    font-size: 16px;
    line-height: 27px;
  }
}

@media (min-width: 768px) {
  .catalogueplanete-container-content-text p {
    font-size: 20px;
    line-height: 30px;
  }
}

.catalogueplanete-container-content-link {
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: inline-block;
  text-align: center;
  font-family: "Montserrat Light";
  background: #4f93f5;
  font-size: 16px;
  letter-spacing: 0.9pt;
  padding: 5pt 20pt;
  border-radius: 8px;
  text-transform: uppercase;
  color: white;
}

@media (min-width: 576px) {
  .catalogueplanete-container-content-link {
    bottom: 20px;
  }
}

@media (min-width: 768px) {
  .catalogueplanete-container-content-link {
    font-size: 20px;
  }
}