.messageLostPassword-cover {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(74, 74, 74, 0.4);
  z-index: -9998;
}

.messageLostPassword-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -9999;
}

.messageLostPassword-container {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 50vh;
  width: 100%;
  background: white;
  padding-bottom: 16px;
}

.messageLostPassword-container-title {
  font-family: 'Montserrat SemiBold';
  font-size: 18px;
  color: #4a4a4a;
  margin-top: 15px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.messageLostPassword-container-content {
  margin-top: 8px;
}

.messageLostPassword-container-content-text {
  justify-content: center;
  position: relative;
  text-align: center;
  margin-top: 84px;
}

.messageLostPassword-container-content-text p {
  font-family: "Montserrat Regular";
  color: #4a4a4a;
  font-size: 15px;
  line-height: 22.5px;
}

@media (min-width: 576px) {
  .messageLostPassword-container-content-text p {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (min-width: 768px) {
  .messageLostPassword-container-title {
    font-size: 24px;
  }
  .messageLostPassword-container-content-text {
    margin-top: 140px;
  }
}

@media (min-width: 768px) {
  .messageLostPassword-container-content-text p {
    font-size: 20px;
    line-height: 30px;
  }
}

.messageLostPassword-container-content-link {
  margin-left:50%;
  transform:translateX(-50%);
  display: inline-block;
  text-align: center;
  font-family: "Montserrat Light";
  background: #4f93f5;
  font-size: 16px;
  letter-spacing: 0.9pt;
  padding: 5pt 20pt;
  border-radius: 8px;
  text-transform: uppercase;
  color: white;
  margin-top:32px;
}


@media (min-width: 768px) {
  .messageLostPassword-container-content-link {
    font-size: 20px;
    margin-top:60px;
  }
}
