.containerStartPlanete{
  margin-top: 1%;
}
.titleStartPlanete{
  text-align: center;
}
.pricinpal{
  text-align: center;
}
.secondary{
  text-align: center;
  font-size: 18px;
}



.image-question-header{
  width: 100vw;
  height: 35vh;
  background-image: url("../image/Saletlite.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.numberQuestion{
  position: absolute;
  height: 5vh;
  width: 50vw;
  background: white;
  border: 1px solid;
  border-radius: 12px;
  margin: -19px 0 0 24%;
}
.textQuestion{
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
}
.containerQuestionAndAnswer{
  height: 55vh;
  width: 100%;
  margin-top: 5vh;
}
.containerQuestion{
  margin: 8vh 0 0 30px;
}
.Question{
  font-size: 24px;
}
.ContainerAnswer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 65px;
}
.ContainerAnswerAndValue{
  display: flex;
  margin-top: 35px;
  margin-left: 45px;
}
.checkboxChoice{
  width: 34px;
    height: 25px;
}
.textNextCheckbox{
  font-size: 28px;
}
.containerArrow{
  height: 6vh;
  margin-top: 8vh;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.containerimgArrow{
  width: 50%;
}
.left{
  display: flex;
  justify-content: flex-end;
}

.finishBUtuttonFind{
  text-align: center;
  height: 10px;
  width: 20px;
}
.textFind{
  text-align: center;
}
