/*thomas ajout simplheader pour btn menu*/


.container-simpleHeader {
  max-width: 100%;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 30px;
  position:relative;
  z-index:50;
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-size: 32px;
  color: white;
  font-family: 'Montserrat Regular';
  letter-spacing: 20px;
  margin-right: -70px;
}

.paddingR {
  padding-right: 0px;
}

.paddingL {
  padding-left: 0px;
}
.close-icon{
  display:flex;
  align-items:center;
  justify-content: flex-end;
}
.fa-times,.fa-bars,{
  color: white;
  font-size: 22px;
}
.fa-plus-circle{
  color:rgb(79, 147, 245);
  font-size:22px;
  margin-left:24px;
  position:relative;
  cursor:pointer;
  z-index:1;
}
.fa-plus-circle::after{
  content:'';
  top:50%;
  width:15px;
  height:15px;
  z-index:-1;
  top:5px;
  left:5px;
  position:absolute;
  border-radius:50%;
  background: white;
}
.fa-times,.fa-bars {
  color: white;
  font-size: 18px;
}
.logo {
  font-size: 32px;
  color: white;
  font-family: 'Montserrat Regular';
  letter-spacing: 20px;
  margin-right: -85px;
}
@media (min-width: 769px) {
  .container-simpleHeader {
    max-width: 100%;
    margin-left: 70px;
    margin-right: 70px;
  }
  .fa-plus-circle::after{
    content:'';
    top:5px;
    left:5px;
    color: white;
  }

}
/* menu-header*/
.menu-header-cover{
  position:fixed;
  width:100vw;
  height:100vh;
  bottom:0;
  left:0;
  right:0;
  top:0;
  z-index:5;
  background:rgba(0,0,0,0.9);
}
.menu-header-container{
  position:relative;
  top:50px;
  width:75%;
  max-width:768px;
  border-radius:8px;
  min-height:85vh;
  margin:35px auto 0 auto;
  background:rgba(255,255,255,0.75);
  z-index:5;
}
.classmenu-header-container-nav{
  padding-top:50px;
  width:100%;
  height:60vh;
}
.menu-header-container-nav-flex{
  margin-left:35px;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.menu-header-container-nav-flex-item{
  font-size:16px;
  font-family:"Montserrat Regular";
}
.menu-header-container-nav-flex-link{
  color:black;
}
.menu-header-container-btn{
  height:18vh;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.menu-header-container-dc{
  padding:6px 43px;
  background:#4888FF;
  color:white;
  font-size:14pt;
  font-family:"Montserrat Regular";
  text-transform:uppercase;
  border-radius:4px;
}
.burger-menu{
  cursor:pointer;
}
.none{
  display:none;
}
/* desktop */

.containerDesktopMenu{
  display:none !important;
}

@media (min-width: 992px) {
  .simpleHeader{
    width:90%;
    margin:0 auto;
  }
  .fa-plus-circle{
    font-size:26px;
  }
  .fa-plus-circle::after{
    content:'';
    top:5px;
    left:5px;
    width:18px;
    height:18px;
    color: white;
  }
  .menu-header-cover{
    display:none;
  }
  .containerDesktopMenu{
    display:flex !important;

  }

  .container-menuMobile{
    display:none !important;
  }

  .wrapper-desktopMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 70%;
    margin: 0 auto;
  }
  .desktopMenu {
    padding-top: 8px;
    position: relative;
    z-index: 55555;
  }
  .containerDesktopMenu {
    margin-top: 40px;
  }
  .sousMenu {
    display: none;
    z-index: 1000;
    position: absolute;
    padding-top: 16px;
  }
  .sousMenu-desktopItems {
    width: 150px;
    padding-bottom: 18px;
    font-family: 'Montserrat Light';
    font-size: 16px;
    color: white;
  }
  .menu-desktopItems:last-child:hover .sousMenu {
    display: block;
  }
  .sousMenu-desktopLink {
    color: white;
  }
  .test {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .containerDesktop-title {
    display: flex;
    justify-content: center;
  }
  .container-header {
    margin-left: 80px;
    margin-right: 80px;
  }
  .containerDesktop-icons {
    display: flex;
    justify-content: flex-end;
  }
  .menu-desktopLink {
    font-family: 'Montserrat Light';
    font-size: 16px;
    color: white;
  }
  .desktopTitle {
    font-family: 'Montserrat Regular';
    font-size: 32px;
    color: white;
    letter-spacing: 20px;
    display: inline-block
  }
}
@media (min-width:769px) and (max-width:991px) {

  .fa-search {
    padding-right: 28px;
  }
  .container-header {
    margin-right: 40px;
    margin-left: 40px;
  }
  .containerList {
    align-items: center;
  }
}
