.menu-open {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  background-image: url("../image/image6.jpg");
  background-size: cover;
  /* thomas: "j'ai ajouté un bg size"*/
  overflow: hidden;
  display: none;
}

.padding-leger {
  padding-left: 1px;
}

.title-header-open, .div-header-open {
  display: inline-block;
}

.title-header-open {
  width: 60%;
  margin-left: 8.333333%;
}

.div-header-open {
  min-width: 25%;
  text-align: right;
}

.containerList {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 18px;
  height: 565px;
  margin: 59px 25px 0 25px;
  display: flex;
  flex-direction: column;
}

.containerli {
  margin: 0 0px 0px 0px;
}

.li-menu {
  padding: 53px 0 0 0;
}

.conect-and-deconect {
  width: 159px;
  border-radius: 10px;
  height: 34px;
  background-color: rgba(79, 147, 245, 1);
  color: white;
  margin: 34px auto 0 auto;
}